---
unique_name: auction_verification
name: auction_verification
checked_by:
- Lennart
suggestion: 'No'
decision_markers:
- AHDS (Artifical/Handmade/Deterministic/Simulated)
collections:
- TabSTAR
- TabArena Reject
source_links:
- https://www.openml.org/d/44958
- https://doi.org/10.24432/C52K6N
- https://publikationen.bibliothek.kit.edu/1000142949
source_row: 335
type_adapter_id: curation-record-v1
---

## Comments

Simulated data

## Reference

E. Ordoni, J. Bach and A. -K. Fleck, "Analyzing and Predicting Verification of Data-Aware Process Models–A Case Study With Spectrum Auctions," in IEEE Access, vol. 10, pp. 31699-31713, 2022, doi: 10.1109/ACCESS.2022.3154445
